@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;600&display=swap');

:root {
  --font-type: 'Jost', system-ui;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
  overflow: hidden;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-type), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
  background: white;
  color: black;
  border: 0.2em solid black;
  border-radius: 0em;
  cursor: pointer;
  font-size: 0.5em;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.125em;
  padding: 0.2rem 0.3rem;
  position: relative;
  text-transform: uppercase;
}

button:hover {
  background-color: lightgray;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
